.ballPhoto {
    display: inline-block;
    background: url("/static/img/polinaBallPhoto.png") center bottom no-repeat;
    background-size: auto 400px;
    height: 300px;
    width: 100%;
}

.skillscloud {
    width: 400px;
    height: 400px;
    top: 50px;
    margin-left: 40%;
    margin-right: auto;
}