.album_preview{
}

.center-cropped {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 8px solid #eeebdf;
    box-shadow: 0 0 25px #717171;
    border-radius: 8px;
    position: relative;
    margin: 5px auto;
}

.center-cropped:hover {
    border: 8px solid #c9c6ba;
}

.center-cropped-img {
    visibility: hidden;
}

/*Текст! Черная полоса*/
.slider_text {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    padding: 5px;
    background: #000;
    font-size: 10px;
    opacity: 0.6;
}

/*остальной текст на черной полосе*/
.slider_text span {
    color: #fff;
    opacity: 0.7;
}

.slider_text:hover {
    opacity: 0.8;
}