.center-cropped {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 8px solid #eeebdf;
    box-shadow: 0 0 25px #717171;
    border-radius: 8px;
}

.center-cropped:hover {
    border: 8px solid #c9c6ba;
}

.center-cropped-img {
    visibility: hidden;
}
