#slideSbt{
    background: url("../img/andrey/sber_b.png") repeat;
    background-size: 10%;
}

#slideHflabs{
    background: url("../img/andrey/hflabs_b.png") repeat;
    background-size: 20%;
}

#slideQiwiWallet{
    background: url("../img/andrey/qiwi_b.png") repeat;
    background-size: 10%;
}

#sectionEducation{
     background: url("../img/andrey/msu_b.png") repeat;
     background-size: 10%;
 }