#sectionSkills {
    background: url("/static/img/andrey/mk6.png") repeat;
    background-color: #f6f6f6;
    background-size: 20%;
}

#slideSbt{
    background: url("/static/img/andrey/sber_b.png") repeat;
    background-size: 10%;
}

#slideHflabs{
    background: url("/static/img/andrey/hflabs_b.png") repeat;
    background-size: 20%;
}

#slideQiwiWallet{
    background: url("/static/img/andrey/qiwi_b.png") repeat;
    background-size: 10%;
}

#sectionEducation{
     background: url("/static/img/andrey/msu_b.png") repeat;
     background-size: 10%;
 }