#sbtPage{
    background: url("../img/andrey/sber_b.png") repeat;
    background-size: 7%;
}

#hflabsPage{
    background: url("../img/andrey/hflabs_b.png") repeat;
    background-size: 15%;
}

#qiwiWalletPage{
    background: url("../img/andrey/qiwi_b.png") repeat;
    background-size: 7%;
}

#educationPage{
    background: url("../img/andrey/msu_b.png") repeat;
    background-size: 7%;
}