.TextBoxBg1, .TextBoxBg2 {
    background-color: #d3c7bf;
    border-radius: 14px;
    opacity: 0.70;
    filter: "alpha(opacity=60)";
    -ms-filter: "alpha(opacity=60)";
    position: static;
}

.contentBox1, .contentBox2 {
    width: 90%;
    height: 500px;
    font-size: 15px;
    color: #505050;
    line-height: 1.35em;
    overflow: hidden;
}

.TextBoxBg1, .TextBoxBg2 {
    width: 95%;
    height: 550px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 80px;
}

.contentBox1, .contentBox2 {
    margin-left: 22px;
    padding-top: 25px;
}

.pm2 {
    margin-top: 2px;
}

.weArePhoto {
    display: inline-block;
    background: url("../img/weArePhoto.png") center center no-repeat;
    background-size: auto 550px;
    margin-top: 80px;
    height: 550px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
