/* Style for our header texts
	* --------------------------------------- */
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #000000;
    margin:0;
    padding:0;
}

p{
    margin-top:0;
    margin-bottom:0
}

.section {
    text-align: center;
}

h2{
    font-size: 2em;
    font-family: arial,helvetica;
    color: #000000;
    margin:0;
    padding:0;
}

/* Defining each section background and styles
* --------------------------------------- */
#sectionWeAre,
#sectionTheStory,
#sectionTravelling,
#sectionGallery,
#slidePolina,
#slideUs,
#slideAndrey{
    background: url("../img/main_background.jpg") repeat;
}

.fullPage-slidesNav.bottom{
    bottom: 25px;
}

.TextBoxBg1, .TextBoxBg2 {
    background-color: #514642;
    border-radius: 14px; opacity:0.70;
    filter:"alpha(opacity=70)";
    -ms-filter:"alpha(opacity=70)";
    position: absolute;
}


