#sectionSkills {
    background: url("../img/polina/hq-wallpapers1.png") center center no-repeat;
    background-size: 100%;
}


#sectionExperience{
    background: url("../img/polina/qiwi_b.png") repeat;
    background-size: 10%;
}

#sectionEducation{
    background: url("../img/andrey/msu_b.png") repeat;
    background-size: 10%;
}