#qiwiLeadPage{
    background: url("../img/polina/qiwi_b.png") repeat;
    background-size: 7%;
}

#qiwiPage{
    background: url("../img/polina/qiwi_b.png") repeat;
    background-size: 7%;
}

#educationPage{
    background: url("../img/andrey/msu_b.png") repeat;
    background-size: 7%;
}