.textBoxBgGal {
    position: relative;
    background-color: #d3c7bf;
    border-radius: 14px;
    opacity: 0.70;
    filter: "alpha(opacity=60)";
    -ms-filter: "alpha(opacity=60)";
    width: 80%;
    height: 18vh;
    top: 0;
    left: 10%
}

.gallery {
    width: 480px;
    /*margin-top: 70px;*/
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
}

.contentTextGal {
    position: relative;
    top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 90px;
    font-size: 15px;
    color: #505050;
    line-height: 1.35em;
    overflow: hidden;
}

.galtext {
    margin-top:0;
    margin-bottom:0;
    color: black;
}